.spacer22 {
    height: 22px;
    width: 100%;
}

.spacer10 {
    height:10px;
    width: 100%;
}
.anchor-link { 
    text-decoration: none;
}

.anchor-link:focus {
    outline: none;
}

.icon2 {
    font-size: 40px;
    color: brown;
}

/* .all {
    background-image:url(../images/backgrounds/guy.jpg) ;
    margin-bottom: -30px;
    background-position: bottom;
    background-repeat: 2;
    width: 2000px;
    height: 100%px;

} */